# spark-scala-project
.idea
*.class
*.log
out/
*.iml
*.cache
*.crc
*.history
part-*
_SUCCESS
*.dat
*.xml
*.parquet
*.jar
/project/project/target/*
/project/target/*
/target/*
/metastore_db/*
/*/part-*
/project/project/build.properties
